<a href="https://colab.research.google.com/github/El-Wally/Movie-Recommender/blob/main/MoviesRecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing packages**

In [1]:
import pandas as pd

**Importing the dataset**

In [2]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2022-07-11 19:17:29--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  12.8MB/s    in 7.6s

2022-07-11 19:17:38 (20.1 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [3]:
df = pd.read_csv('movies.csv')
df.head(50)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
30,31,Dangerous Minds (1995),Drama
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
32,33,Wings of Courage (1995),Adventure|Romance|IMAX
33,34,Babe (1995),Children|Drama
34,35,Carrington (1995),Drama|Romance
35,36,Dead Man Walking (1995),Crime|Drama
36,37,Across the Sea of Time (1995),Documentary|IMAX
37,38,It Takes Two (1995),Children|Comedy
38,39,Clueless (1995),Comedy|Romance
39,40,"Cry, the Beloved Country (1995)",Drama
40,41,Richard III (1995),Drama|War
41,42,Dead Presidents (1995),Action|Crime|Drama
42,43,Restoration (1995),Drama
43,44,Mortal Kombat (1995),Action|Adventure|Fantasy
44,45,To Die For (1995),Comedy|Drama|Thriller
45,46,How to Make an American Quilt (1995),Drama|Romance
46,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
48,49,When Night Is Falling (1995),Drama|Romance
49,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [4]:
df['title'][7001]

'Accident (1967)'

checking for null values

In [5]:
df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [6]:
df1 = pd.read_csv('tags.csv')
df1.head(5)

   userId  movieId           tag   timestamp
0      19     2324   bittersweet  1428651158
1      19     2324     holocaust  1428651112
2      19     2324  World War II  1428651118
3      23     7075     hilarious  1378675786
4      23     7075    Underrated  1378675786

In [7]:
df1.describe

<bound method NDFrame.describe of         userId  movieId                            tag   timestamp
0           19     2324                    bittersweet  1428651158
1           19     2324                      holocaust  1428651112
2           19     2324                   World War II  1428651118
3           23     7075                      hilarious  1378675786
4           23     7075                     Underrated  1378675786
...        ...      ...                            ...         ...
586989  247751    96655                         future  1366041126
586990  247751    96655                         robots  1366041128
586991  247753      356                        classic  1430438776
586992  247753      356  oscar (best supporting actor)  1430438776
586993  247753      356                   social drama  1430438776

[586994 rows x 4 columns]>

In [8]:
df1['tag'].value_counts()

sci-fi                 6194
action                 4059
atmospheric            3839
based on a book        3799
comedy                 3745
                       ...
Manny Coto                1
Darin Scott               1
Alain Berliner            1
Richard Friedenberg       1
great screenplays         1
Name: tag, Length: 45084, dtype: int64

In [9]:
df1[df1.isnull().any(axis=1)]

        userId  movieId  tag   timestamp
119651   44258    33826  NaN  1221450908
208021   91097      123  NaN  1199450867
208022   91097      346  NaN  1199451946
208026   91097     1184  NaN  1199452261
208033   91097     1785  NaN  1199452006
208034   91097     2194  NaN  1199450677
208036   91097     2691  NaN  1199451002
208044   91097     4103  NaN  1199451920
208046   91097     4473  NaN  1199451040
208048   91097     4616  NaN  1199452441
208064   91097     7624  NaN  1199452266
208070   91097     8898  NaN  1199450757
208077   91097    32460  NaN  1199450901
208079   91097    33826  NaN  1199450703
208084   91097    36537  NaN  1199450736
208085   91097    55805  NaN  1199450941

In [10]:
(df1['movieId']==1).sum()

548

In [11]:
  dff1 = df1[df1['movieId'].values  == 113]['tag']
  dff1=dff1.tolist()
  dff1

[]

In [12]:
df1.sort_values(by=['movieId'], inplace=True)
print(df1)
print(df1['tag'].iloc[0])

        userId  movieId          tag   timestamp
69201    29321        1       Disney  1273665156
585030  246887        1        pixar  1443906050
42826    15036        1        Pixar  1261495514
413751  173452        1        pixar  1445458804
413752  173452        1    Tim Allen  1445458849
...        ...      ...          ...         ...
308824  132513   151677       trippy  1453951839
308825  132513   151677         Yogi  1453951834
308819  132513   151677        drugs  1453951843
308818  132513   151677        dance  1453951844
411565  172056   151701  documentary  1454031135

[586994 rows x 4 columns]
Disney

In [13]:
#df1['movieId'].tolist()
x=list(set(df1['movieId']))

In [14]:
x.sort()
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 100,
 101,
 102,
 103,
 104,
 105,
 107,
 110,
 111,
 112,
 114,
 115,
 116,
 117,
 118,
 121,
 122,
 123,
 124,
 125,
 126,
 128,
 129,
 132,
 133,
 134,
 135,
 136,
 138,
 140,
 141,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 193,
 194,
 196,
 197,
 198,
 199,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 279,
 280,
 281,
 282,
 283,
 286,
 288,
 289,
 290,
 291,
 292,
 293,
 296,
 298,
 299,
 300,
 301,
 302,
 303,
 305,
 306,
 307,
 308,
 309,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 404,
 405,
 407,
 408,
 410,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 558,
 559,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 577,
 580,
 581,
 583,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 602,
 605,
 606,
 608,
 609,
 610,
 611,
 613,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 627,
 628,
 629,
 630,
 631,
 632,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 644,
 645,
 647,
 648,
 649,
 650,
 653,
 654,
 655,
 656,
 659,
 661,
 662,
 663,
 665,
 666,
 667,
 668,
 670,
 671,
 673,
 674,
 678,
 680,
 681,
 683,
 685,
 688,
 690,
 691,
 692,
 694,
 696,
 697,
 698,
 700,
 702,
 703,
 704,
 705,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 718,
 719,
 720,
 722,
 724,
 725,
 728,
 729,
 731,
 733,
 735,
 736,
 737,
 738,
 741,
 742,
 743,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 753,
 754,
 755,
 757,
 759,
 760,
 761,
 762,
 764,
 765,
 766,
 767,
 769,
 773,
 774,
 775,
 778,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 813,
 818,
 820,
 823,
 824,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 844,
 846,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 858,
 860,
 861,
 862,
 864,
 865,
 866,
 867,
 870,
 875,
 879,
 880,
 881,
 882,
 885,
 886,
 888,
 891,
 892,
 893,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 976,
 982,
 983,
 986,
 987,
 988,
 990,
 991,
 992,
 993,
 994,
 996,
 997,
 998,
 999,
 1000,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1040,
 1041,
 1042,
 1043,
 1044,
 1046,
 1047,
 1049,
 1050,
 1051,
 1053,
 1054,
 1056,
 1057,
 1059,
 1060,
 1061,
 1062,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1073,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1099,
 1100,
 1101,
 1103,
 1104,
 1109,
 1111,
 1113,
 1114,
 1116,
 1117,
 1119,
 1120,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1135,
 1136,
 1140,
 1143,
 1144,
 1145,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1156,
 1157,
 1161,
 1162,
 1164,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 ...]

In [19]:
temp = 0
for i in x:
  #print(df1)
  dff1 = df1[df1['movieId'].values  == i]['tag']
  #print(dff1)
  dff1=dff1.tolist()
  #dff1 = list(dict.fromkeys(dff1))
 # print(i)
 # print(len(dff1))
  if(len(dff1)>0):
  
    df1.drop(df1.index[temp+1:temp+len(dff1)],inplace=True)
    df1['tag'].iloc[temp] = dff1
  
 # print(df1['tag'].iloc[temp])
  temp+=1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [20]:
df1.head(10)

,userId,movieId,tag,timestamp
69201,29321,1,"[[Disney, pixar, Pixar, pixar, Tim Allen, Tom ...",1273665156
426208,179664,2,"[[Filmed in BC, family, fantasy, Robin William...",1148752833
195259,86161,3,"[[Walter Matthau, old people that is actually ...",1161144194
117334,43484,4,"[[revenge, CLV, chick flick, characters, chara...",1308558977
456190,185477,5,"[[Touching, watched under duress, it thought i...",1425151186
340315,143264,6,"[[realistic action, Al Pacino, bleak, philosop...",1392885765
146467,54403,7,"[[Harrison Ford, remake, romance, relationship...",1317021217
229490,99992,8,"[[seen, author:Mark Twain, Peter Hewitt, adapt...",1354062797
260975,114930,9,"[[Peter Hyams, CLV, action, Jean-Claude Van Da...",1300403135
346824,143748,10,"[[007 movies are bad., james bond, 007, James ...",1359142828

In [23]:
df.rename(columns = {'movieId':'movId'},inplace = True)
x = pd.merge(df,df1,left_on='movId',right_on='movieId')

In [27]:
x.drop(['movId','movieId','timestamp','userId'], axis=1)

,title,genres,tag
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[[Disney, pixar, Pixar, pixar, Tim Allen, Tom ..."
1,Jumanji (1995),Adventure|Children|Fantasy,"[[Filmed in BC, family, fantasy, Robin William..."
2,Grumpier Old Men (1995),Comedy|Romance,"[[Walter Matthau, old people that is actually ..."
3,Waiting to Exhale (1995),Comedy|Drama|Romance,"[[revenge, CLV, chick flick, characters, chara..."
4,Father of the Bride Part II (1995),Comedy,"[[Touching, watched under duress, it thought i..."
...,...,...,...
21649,The War in Space (1977),Action|Adventure|Sci-Fi,"[[hostile aliens, space travel, Venus, war, al..."
21650,Capital C (2015),Documentary,"[[Documentary, inspirational, crowd funding]]"
21651,Looking for Grace (2015),Drama,"[[Couple relations, Family relations, Missing ..."
21652,Last Hippie Standing (2002),(no genres listed),"[[India, music, nudity, spirituality, trippy, ..."
21653,Bloodmoney (2010),(no genres listed),[[documentary]]